<h2>Profile image</h2>
  <% if @profile.profile_img != nil %>
      <%= image_tag @profile.profile_img.content.url(:medium), :class => 'img-responsive' %>
  <%end%>

<h2>Poster image</h2>
<% if @profile.poster_img != nil %>
    <%= image_tag @profile.poster_img.content.url(:medium), :class => 'img-responsive' %>
<%end%>