// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base/variables";

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color=#333333)";/*IE 8*/
  -moz-box-shadow: 0px 0px 2px #a8a8a8;/*FF 3.5+*/
  -webkit-box-shadow: 0px 0px 2px #a8a8a8;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0px 0px 2px #a8a8a8;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=90, Color=#a8a8a8); /*IE 5.5-7*/


  .card-title{
      padding: 5px 10px;
      font-size: 18px;
  }
  .card-image {
    position: relative;
    overflow: hidden;

    img {
      border-radius: 2px 2px 0 0;
      background-clip: padding-box;
      position: relative;
      z-index: -1;
    }
    span.card-title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 16px;
    }
  }

  .card-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;

    p {
      margin: 0;
      color: inherit;
    }

    span.card-title {
      line-height: 48px;
    }
  }
  .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px;

    a {
      color:$blue;
      margin-right: 16px;
      transition: color 0.3s ease;
      text-transform: uppercase;

      &:hover {
        color: darken($blue, 20%);
        text-decoration: none;
      }
    }
  }
}
.end-posts{
  margin: 10px 0;
  font-style: italic;
  text-align: center;
}


