@import "base/variables";
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
.upper-text{
  text-transform: uppercase;
}
a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: darkblue;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.navbar.navbar-default{
  background-color: $blue;
  color: #ffffff;
  border-bottom: none;

  a{
    color: #ffffff;
  }

  .navbar-nav{
    li{
      a{
        color: #ffffff;
      }
    }
  }
 .navbar-form{
   margin-top:8px;
 }
}
.media-left, .media-body{
  display: table-cell;
  vertical-align: middle;
}
.media-body{
  padding-left: 10px;
}

.margin-left-10{
  margin-left: 10px;
}
textarea{
  resize: none;
}

.thumb {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;

  &.small{
    width: 60px;
    height: 60px;
  }
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

    &.portrait {
      width: 100%;
      height: auto;
    }

  }
}

.pagination{
  display: none;
}

